#root {
  max-width: 1280px;
  margin: 0 auto;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 5rem;
  padding-right: 5rem;
  text-align: center;
  background-color: #2f5949;
  border-radius: 20px;
}


.logo {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

h1 {
  text-shadow: 5px 5px 0px #22383b ;
}


.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
  
}

.cardComponent {
  box-shadow: 5px 5px 0px #7b8a84;
}

.Albums {
  border-radius: 20px;
  background-color: #c4cfc8 ;
}